@page "/scoreboards"
@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Components.QuickGrid
@using Triolingo.Domain
@using Triolingo.Data
@implements IAsyncDisposable
@inject IDbContextFactory<Triolingo.Data.TriolingoContext> DbFactory

<PageTitle>Scoreboard</PageTitle>

<h1>Scoreboard</h1>


<QuickGrid Class="table" Items="context.Scoreboard">
    <PropertyColumn Property="scoreboard => scoreboard.TotalScore" />
    <PropertyColumn Property="scoreboard => scoreboard.UserId" />
    <PropertyColumn Property="scoreboard => scoreboard.LanguageId" />
    

    <AuthorizeView Roles="Administrator">
    <TemplateColumn Context="scoreboard">
        <a href="@($"scoreboards/edit?scoreboardid={scoreboard.ScoreboardId}")">Edit</a> |
        <a href="@($"scoreboards/details?scoreboardid={scoreboard.ScoreboardId}")">Details</a> |
        <a href="@($"scoreboards/delete?scoreboardid={scoreboard.ScoreboardId}")">Delete</a>
    </TemplateColumn>
    </AuthorizeView>
</QuickGrid>

@code {
    private TriolingoContext context = default!;

    protected override void OnInitialized()
    {
        context = DbFactory.CreateDbContext();
    }

    public async ValueTask DisposeAsync() => await context.DisposeAsync();
}
