@page "/scoreboards"
@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Components.QuickGrid
@using Triolingo.Domain
@using Triolingo.Data
@implements IAsyncDisposable
@inject IDbContextFactory<Triolingo.Data.TriolingoContext> DbFactory

<PageTitle>Scoreboard</PageTitle>

<h1>Scoreboard</h1>


<QuickGrid Class="table" Items="context.Users">
    <PropertyColumn title="Score" Property="Users => Users.UserScore" />
    <PropertyColumn title="UserName" Property="Users => Users.Email" />
    <PropertyColumn title="Chinese Language Progress" Property="Users => Users.ChineseProgress" />
    <PropertyColumn title="Japanese Language Progress" Property="Users => Users.UserProgress" />
    

   
</QuickGrid>

@code {
    private TriolingoContext context = default!;

    protected override void OnInitialized()
    {
        context = DbFactory.CreateDbContext();
    }

    public async ValueTask DisposeAsync() => await context.DisposeAsync();
}
